body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  --secondaryColor: rgb(255, 0, 200);
  --backupColor: #21a0a0;
}

li {
  list-style: none;
}

.box {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.box:hover {
  cursor: pointer;
}

.btn {
  height: 50px;
  width: 150px;
  background: var(--secondaryColor);
  border: none;
  color: #f3f3f3;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.colorTitle {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: var(--backupColor);
}

.container {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 2rem;
}

.colorPicker {
  height: 50px;
  width: 150px;
  margin: 2rem 0;
  transition: opacity 0.5s ease;
}

.colorPicker:hover {
  cursor: pointer;
  opacity: 0.8;
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

.italicText {
  font-size: 6rem;
  font-style: italic;
  color: var(--secondaryColor);
  border-right: 5px solid black;
  padding-right: 1rem;
  border-bottom: 15px solid var(--secondaryColor);
}

.left {
  border: 1px solid var(--backupColor);
  margin-top: 5rem;
  padding-right: 3rem;
}

#title {
  font-size: 5rem;
}
